*{
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 32, 70);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    margin: 0;
}
.container {
    perspective: 1000px;
    margin-bottom: 30px;
  }
.seat {
    background-color: lightslategrey;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 60px;
    margin: 1px;
    font-size: 20px;
    text-align: center;
  }
.seat.selected {
    background-color: #03fc7b;
  }
  
.seat.sold {
    background-color: #037bfc;
  }
.seat.mark{
    background-color: white;
  }
.seat:not(.sold):hover{
    cursor: pointer;
    border: 2px solid #ff96ad;
    color: #ff96ad;
    background-color: #17181c;
  }
.row {
    display: flex;
  }
  